
{% extends 'lmdb/base.html' %}
{% load static %}
{% block main %}
    <h2 class="ui center aligned icon header">
        <i class="circular tv icon"></i>
        Filmes
    </h2>

    <div class="ui four raised cards">
        {% for filme in filmes %}
        <div class="ui card">
            <div class="image" width="314" height="512">
                <img src="{{ filme.capa.url }}">
            </div>
            <div class="content">
                <a class="header">{{ filme.nome }}</a>
                <div class="meta">
                    <span class="date">{{ filme.data_lancamento }}</span>
                </div>
            </div>
            <div class="extra content">
                <a>
                    <i class="thumbs up outline icon"></i>
                    22 Likes
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    </div>

    <script src="{% static 'js/home.js' %}"></script>

{% endblock %}