{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}{% include 'lmdb/head.html' %}{% endblock head%}
</head>
<body>
    <main class="ui main container">
        <div class="ui centered card">
            <div class="content">
                <form class="ui form" method="POST" action="{% url 'lmdb:login' %}">
                    {% csrf_token %}
                    <h4 class="ui dividing header">Lusófona movie database login</h4>
                    <div class="two field">
                        <div class="field">
                            <label>Username</label>
                            <input type="text" name="username" placeholder="username">
                        </div>
                        <div class="field">
                            <label>Password</label>
                            <input type="password" name="password" placeholder="password">
                        </div>
                    </div>
                    <button class="ui primary button" type="submit">Login</button>
                </form>
            </div>
            {% if message %}
                <div class="ui negative message">
                  <i class="close icon"></i>
                  <div class="header">
                    {{ message }}
                  </div>
            </div>
            {% endif %}
    </main>
    <script src="{% static 'js/login.js' %}"></script>
</body>
</html>