<div class="ui blue inverted borderless menu fixed top">
    <div class="ui container">
        <a class="item" href="{% url 'lmdb:home' %}" id="home_page">
            Home
        </a>
        {% if request.user.is_authenticated %}
            <a class="ui dropdown item">Filme<i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" onclick="location.href={% url 'lmdb:filmes' %}">
                          Consulta
                    </div>
                    <div class="item" onclick="location.href={% url 'lmdb:novofilme' %}">
                          Novo filme
                    </div>
                </div>
            </a>
        {% else %}
            <a class="item" href="{% url 'lmdb:filmes' %}" id="filmes_page">
                Filmes
            </a>
        {% endif %}
        <a class="item" href="{% url 'lmdb:streaming' %}" id="streaming_page">
            Streaming
        </a>
        {% if request.user.is_authenticated %}
            <a class="item" href="{% url 'lmdb:contacto' %}" id="contacto_page">
                Contacto
            </a>
        {% endif %}
        <a class="item" href="{% url 'lmdb:comentarios' %}" id="comentarios_page">
            Comentários
        </a>
        <div class="right menu">
            {% if request.user.is_authenticated %}
                <a class="item" href="{% url 'lmdb:logout' %}" id="logout_page">
                    Logout
                </a>
            {% else %}
                <a class="item" href="{% url 'lmdb:login' %}" id="login_page">
                    Login
                </a>
            {% endif %}
        </div>
    </div>
</div>