{% extends 'lmdb/base.html' %}
{% load static %}
{% block main %}
    <h2 class="ui center aligned icon header">
        <i class="circular film icon"></i>
        Novo filme
    </h2>

    <form class="ui form">
        <h4 class="ui dividing header">Informação geral</h4>
        <div class="field">
            <div class="three fields">
                <div class="field">
                    <label>Nome</label>
                    <input type="text" name="nome">
                </div>
                <div class="field">
                    <label>Género</label>
                    <select class="ui fluid dropdown">
                        <option value="">Género</option>
                        {% for genero in generos %}
                            <option value="{{ genero.id }}">{{ genero.nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="field">
                    <label>Data de lançamento</label>
                    <input type="date" name="data_lançamento">
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Capa</label>
                    <input type="file" name="capa">
                </div>
            </div>
        </div>
        <h4 class="ui dividing header">Elenco</h4>
        <div class="field">
            <div class="three fields">
                <div class="field">
                    <label>Realizador</label>
                    <div class="ui right labeled input">
                        <select class="ui fluid dropdown">
                            <option value="">Realizador</option>
                            {% for realizador in realizadores %}
                                <option value="{{ realizador.id }}">{{ realizador.nome }}</option>
                            {% endfor %}
                        </select>
                        <button class="ui small basic icon button" type='button' id="novo_realizador_button"><i class="plus icon"></i></button>
                    </div>
                </div>
                <div class="field">
                    <label>Actores</label>
                    <div class="ui right labeled input">
                        <select name="skills" multiple="" class="ui fluid dropdown">
                            <option value="">Actores</option>
                            {% for actor in actores %}
                                <option value="{{ actor.id }}">{{ actor.nome }}</option>
                            {% endfor %}
                        </select>
                        <button class="ui small basic icon button" type='button' id="novo_actor_button"><i class="plus icon"></i></button>
                    </div>
                </div>
            </div>
        </div>
       <div class="ui primary button" tabindex="0">Inserir filme</div>
    </form>

    {% block modal_novo_realizador %}{% include 'lmdb/modals/modal_novo_realizador.html' %}{% endblock modal_novo_realizador%}
    {% block modal_novo_actor %}{% include 'lmdb/modals/modal_novo_actor.html' %}{% endblock modal_novo_actor%}

    <script src="{% static 'js/novofilme.js' %}"></script>
{% endblock %}